
      body {
        width: 100%;
        margin: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
      }
      body > * {
        flex-shrink: 0;
      }
      header{
        background-image: url("data/EP-151968C_CUG_EG_004_header.png") ;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: inset 0 0 0 2000px rgba(0, 68, 148, 0.7);
        position: relative;
        min-height: 25vh;
      }
     
      .ecl-tabs{
        margin: 0;
        width: 70%;
        position: absolute;
        bottom: 0;
        margin-left: 5%;
        .ecl-tabs__list{
          padding: 0;
         border: none;
        }
      }

      .ecl-tabs__link{
        border: none;
        color: white;
        background-color: transparent;
        
      } 
      .ecl-tabs__link:hover{
       
        color: white;
       
        
      } 
      .ecl-tabs__link--active{
        background-color: white;
        border-top: solid 5px;
        color: #004494;
        border-top-color: #70F0D3;
        &:hover{
          color: #004494;
        }
        
        
      } 
     
     
      .centered {
        margin: 2% 5% 2% 5%;
        background-color: white;
      }
      

      .graph {
       max-height: 1100px;
      }

      /* #checkboxes > * {
            font-size: 14px;
            display: inline;
            padding-top: 3px;
        } */

     
      .title h2{
        font-size: 21px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
      }
      .measure-group {
        padding-top: 22px;
        padding-bottom: 49px;
      }
      .bootst {
        display: none;
      }
      /* .stateButtons {
        width: 80%;
      } */
      .btn-check:checked+.btn-outline-primary{
        background-color: #004494;
        box-shadow: rgba(0, 0, 0, 0) 0px 10px 20px, rgba(0, 0, 0, 0) 0px 6px 6px;
        border-color:#004494 ;
        font-size: 13px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
       padding-top: 2px;
        width: 155px;
        height: 25px;

      }
      .btn-check:hover+.btn-outline-primary{
        background-color: #004494;
        border-color:#004494 ;
      }
      .btn-outline-primary{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 6px, rgba(0, 0, 0, 0.13) 0px 3px 3px;
        color: #404040;
        border-color:#404040 ;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 2px;
        width: 155px;
        height: 25px;
      }
      .stateButtons p {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
      }

      .selectedButton {
         text-align: right; 
         padding-right: 80px; 
        
      } 
       
       @media screen and (max-width: 1300px) {
        .selectedButton {
          text-align: left;
          margin: 12%;
          margin-top: 5px;
        }
        .measure-group{
          display: block;
        }
      }
     
      .dropdown-toggle{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 6px, rgba(0, 0, 0, 0.13) 0px 3px 3px;
        height: 25px;
        width: 173px;
        padding-top: 2px;
        font-size: 12px;
        background-color: #fff;
        border-color: #404040;
        font-family: Arial, Helvetica, sans-serif;
         .filter-option-inner{
          color:#404040
         }
      }
      .inner{
        max-height: 200px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
      }

      .bootstrap-select .bs-ok-default:after {
        font-family: 'Material Icons Outlined';
        content: "done";
        display: block;
        /* width: 0.5em; */
        height: 1em;
        right:10px;
        border-style: none;
        border-width: none;
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
      }
      input,
      p {
        display: inline-block;
        vertical-align: middle;
        margin: 5px;
      }

      .scale-group {
        /* padding-left: 40px; */
        display: inline;
      }

      button {
        /* margin:0 auto; */
        display: block;
      }

      svg {
        background-color: white;
      }

      .cells path {
        fill: none;
        pointer-events: all;
      }
      .form-select {
        width: max-content;
      }
      button {
        height: auto;
      }
      div.tooltip {
        width: auto;
        min-width: 250px;
        position: absolute;
        text-align: left;
        color: black;
        font-size: 12px;
        background-color: #fffcf8;
        pointer-events: none;
        cursor: none;
        

       
        /* .name {
          height: 30px;
        }
        .elected {
          height: 30px;
        }
        .party {
          height: 30px;
        }
        .age {
          height: 30px;
        } */
        .container {
          padding: 10px;
        }
      }
      .countries:hover{
        fill: #004494;
        
      }
      .countries{
        z-index: 3;
      }

      .annotation-group{
        font-size: 12px;
      }
      .container{
        max-width: 1920px;
      }
      /* @media screen and (max-width: 1200px) {
        .annotation-group {
          display: none;
          
        }
        .annotation-line{
          display: none;
        }
      } */

      hr{
        margin: 2px;
      }

      .right {
        text-align: left;
        width: 30%;
        
      }
      /* .left-header{
        height: 80px;
       

      } */

      
      
      .axis path,
      .axis line {
        fill: none;
        stroke: rgb(96, 125, 139);
        shape-rendering: crispEdges;
      }
      .axis path {
        display: none;
      }

      .axis text {
        font: 10px sans-serif;
      }
      .dropdown-menu::before{
        display: none;
      }
      .actions-btn{
        border: 1px solid grey;
      }
      .btn-group-sm>.btn, .btn-sm{
        padding: 2px;
        font-size: 12px;
      }
      .btn-group-sm>.btn:hover{
        background-color:#1a438f;
        color: white;
        border: 1px solid #1a438f;
      }
      .highlight {
        padding: 0.25em;
        background: #FFD617;
        font-size: 14;
      }
      .question {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
      }
      .description {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
      }

      .fa-solid{
        color:#004494;
        margin-left: 5px;
      }
      .seperator {
        width: 100%;
        padding-left: 33px;
        padding-right: 77px;
        background-color: white;
      }

      .line {
        width: 100%;
        height: 2px;
        background-color: #1a438f;
      }
      .footer {
        bottom: 0;
        padding-top: 24px;
        padding-left: 33px;
        padding-right: 77px;
        display: flex;
        width: 100%;
        background-color: white;
        flex-grow: 1;
      }

      .copyright {
        width: 75%;
        padding-right: 20px;
      }
      
      .photos img {
        height: auto;
        width: 180px;
        padding: 20px;
      }

      .annotation-note path{
        display: none;
      }
      
      .disclaimer-title{
        font-size: 14px;
        font-weight: bold;
      }
      .disclaimer-body{
        font-size: 14px;
        font-weight: normal;
      }
      /* .legend {
            fill: rgba(0,0,0,.87);
        }

        .article {
            position: fixed;
            top: 20px;
            left: 15px;
            font-size: 35px;
            color: rgb(96,125,139);
        }

        .article-tt {
            font-size: 14px;
            background: rgb(96,125,139);
            border: 1px solid rgb(96,125,139);
            border-radius: 2px;
            pointer-events: none;
        } */
